<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">To Do</a>
    </div>    
    <div *ngIf="currentUser" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGab="30px" class="navigation-items">
            <li>
                <a routerLink="/profile" id="username">{{currentUser.username}}</a>
            </li>
            <li fxLayoutAlign="start center">
                <a id="logoutIcon" (click)="logout()" fxLayoutAlign="start center">
                    <mat-icon>power_settings_new</mat-icon>
                </a>
            </li>   
        </ul>

    </div>
</mat-toolbar>