<div class="wrapper">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Erstellen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Aufgabe Erstellen</mat-label>
              <input name="BabaNik" matInput placeholder="Aufgabe erstellen" [(ngModel)]="newToDoItem.name">
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary" (click)="createNewToDoItem()">Erstellen</button>
    </mat-card-content>
  </mat-card>
<app-todo-items-list cardTitle="Zu erledigen" [toDoItems]="activeToDoItems" (completedToDoItem)="completeToDoItem($event)" (deletedToDoItem)="deleteToDoItem($event)" (editedToDoItem)="editedToDoItem($event)"></app-todo-items-list>  
<app-todo-items-list cardTitle="Erledigt" [toDoItems]="completedToDoItems" (deletedToDoItem)="deleteToDoItem($event)"></app-todo-items-list>
</div>