.example-card {
  margin: auto;
  padding-bottom: 15px;
  max-width: 70%;
}

@media (max-width: 950px) {
  .wrapper {
    max-width: 100% !important;
  }
  .example-card {
    max-width: 100% !important;
    padding-right: 0;
    padding-left: 0;
    margin: 0px;
    margin-bottom: 16px;
  }
  .mat-card-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
